@import url("./styles.css");

.contact {
   
}

.contact h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    }

.admission {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .admission-hours {
    display: flex;
    justify-content: end;
  }
  
  .admission-content {
    background-color: black;
    color: #ffffff;
    width: 100%;
    padding: 10px 10px 20px 10px;
  }
  
  .admission-content h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 30px;
    margin-bottom: 0;
  }
  
  #pink {
    background-color: #FF8484;
  }
  
  .admission-content h2, #purple, #pink {
    display: inline-block;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .admission-content p {
    margin-bottom: 10px;
  }
  
  .ad-text {
    margin: 10px;
  }
  
  .admission-content #purple, #pink {
    color: black;
  }
  
  .admission-img-container {
    display: flex;
    background-image: url(/images/stairs.jpg);
    position:relative;
    background-size: cover;
    width: 600px;
    min-height: 450px;
  }

.hours {
    position: absolute;
    flex: 1;
    margin-top: 75px;
    background-color: #7FC3E0;
    padding: 20px 20px 30px 20px;
    font-family: 'Righteous', verdana, sans-serif;
    font-weight: 300;
    max-height: 350px;
}

.hours h2 {
    margin-left: 20px;
}

.hours p {
    line-height: 10px;
}

.text-content {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    gap: 30px;
}

.more {
    background-color: #D9D9D9;
    width: 100%;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
}
.none {
  background-color: white;
}
.contact-wrapper {
    
}

.form-details {
    background-color: #FF8484;
    padding: 30px 0px 50px 15%;
}

.form-details input {
    padding-left: 10px;
    border-radius: 5px 5px 5px 5px;
    width: 80%;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-details input, .form-details #message {
    font-family: 'Mitr', verdana, sans-serif;
    font-size: 0.85rem;
    font-weight: 300;
}
  
  .form-details #message {
    padding: 14px 50px 4px 10px;
    border-radius: 5px 5px 5px 5px;
    width: 80%;
    outline: none;
    min-height: 150px;
  } 
  
  .hover:hover {
    border: 3px solid #000;
  }
  
  #message:hover {
    border: 2px solid #000;
    }

    .form-labels {
        display: block;
    }

    #form-button {
        display: block;
    }

    .form-details, .contact-map {
        flex: 1;
    }

    .location {
        background-color: black;
        color: white;
        width: 100%;
    }

    .location h3, p {
        padding-left: 20px;
    }

    .location h3 {
        padding-top: 20px;
        font-size: 1.1rem;
    }

    .location p {
        padding-bottom: 30px;
        margin-bottom: -10px;
    }

    .google-map {
        border: 0;
        width: 100%;
        height: 520px;
        margin-bottom: 40px;
    }

      /* media queries */

      @media screen and (min-width: 600px){
        .admission {
          display: flex;
          justify-content: center;
        }

        .more {
            margin-top: 0px;
            min-width: 350px;
        }

        .text-content {
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
           }
          }
      
        
        @media screen and (min-width: 601px) and (max-width: 850px) {
          .admission-img-container {
               max-width: 360px;
    }
  }

       @media screen and (max-width: 768px){
          .none {
            display: none;
          }
       }
      
        @media screen and (min-width: 768px){
        .admission {
            }

        .more {
               flex-wrap: wrap;
               justify-content: center;
                margin-top: 0px;
                max-width: 350px;
                margin: 0;
            }

            .text-content {
            flex: 1 1 350px; 
            }

            .contact-wrapper {
                padding: 0 20px;
            }

            .contact-details {
              display: flex;
              align-items: center;
              margin-bottom: 40px;
             }
             
          .form-details, .contact-map {
                 flex: 1;
             } 

             .google-map {
              margin-bottom: 0px;
             }

             .location {
              margin-top: -6px;
              padding-right: 8px;
             }
  
          .form-details {
                  padding: 50px 0px 50px 8%;
              }
        }

        @media screen and (min-width: 1310px) {
           .none {
            display: none;
           }
        }

            @media screen and (min-width: 769px) and (max-width: 1100px) {
              .admission {
                padding: 0 20px;
              }
            }

            @media screen and (min-width: 1101px)  {
              .admission, .contact-details {
                margin: 60px 80px;
              }
            }
        
        