@import url("./styles.css");

.contact {
    padding: 2% 10% 5% 10%;
}

.contact h2 {
    margin-top: 50px;
    margin-bottom: -8px;
}

.admission-hours h2 {
    margin-top: 30px;
}

.hours {
    background-color: #7FC3E0;
    max-width: 350px;
    padding: 0 30px 30px 80px;
    font-family: 'Righteous', verdana, sans-serif;
    font-weight: 300;
    margin-left: 6%;
}

.hours p {
    line-height: 10px;
}

.admission-text {
    max-width: 60%;
    padding-right: 40px;
}

.form-details {
    background-color: #FF8484;
    padding: 2% 0 4% 9%;
    margin-bottom: 6%;
}

.form-details input {
    padding-left: 10px;
    border-radius: 5px 5px 5px 5px;
    width: 80%;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .form-details input, .form-details #message {
    font-family: 'Mitr', verdana, sans-serif;
    font-size: 0.85rem;
    font-weight: 300;
}
  
  .form-details #message {
    padding: 14px 50px 4px 10px;
    border-radius: 5px 5px 5px 5px;
    width: 80%;
    outline: none;
    min-height: 150px;
    margin-bottom: 23px;
    margin-top: 12px;
  } 
  
  .hover:hover {
    border: 3px solid #000;
  }
  
  #message:hover {
    border: 2px solid #000;
    }

    .form-labels {
        display: block;
    }
    #form-button {
        display: block;
    }

    .google-map {
        border: 0;
        width: 100%;
        height: 500px;
    }

      /* media queries */

      @media screen and (min-width: 600px){
        .admission-hours {
            display: flex;
        }
        .admission-text {
            flex: 1.30;
        }
        .hours {
            flex: 1
        }

        .contact-details {
            display: flex;
            align-items: center;
           }
           
           .form-details, .contact-map {
               flex: 1;
           } 
      }